{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create book</h1>
    <p>Creates new random book:</p>
    <p>
        <strong>ID: </strong>{{ book.id }}<br>
        <strong>Title: </strong>{{ book.title }}<br>
        <strong>Author: </strong>{{ book.author }}
    </p>
{% endblock %}
